.btn1 {
    font-family: $roboto;
    color: $white;
    background: $celeste;
    text-decoration: none;
    padding: 8px 25px;
    display: inline-block;
    font-size: $small;
    font-weight: $regular;
    margin-bottom: 15px;
    margin-left: 5rem;
    margin-right: 1rem;
}

.btn2 {
    font-family: $roboto;
    color: $white;
    background: $fuzzy-wuzzy;
    text-decoration: none;
    padding: 8px 25px;
    display: inline-block;
    font-size: $small;
    font-weight: $regular;
    margin-bottom: 15px;
}