h2 {
    font-family: $roboto;
    font-weight: $black-italic;
    font-size: $xx-large;
}

h3 {
    font-family: $roboto;
    font-weight: $black-italic;
    font-size: $large;
    margin-left: 10rem;
}

p {
    font-family: $roboto;
    font-weight: $regular;
    font-size: $medium;
    margin-left: 10rem;
    margin-top: 0;
}