@import url('https://fonts.googleapis.com/css?family=PT+Mono|Roboto:300&display=swap');
// Esquema de colores 
// Primer esquema de color
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;
// Segundo esquema de color 
$fuzzy-wuzzy: #E56363;
$rudy-pink: #D76C69;
$celeste: #5DADE2;
// Tercer esquema de color
$black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;
// Tipografia
$roboto: 'Roboto',
sans-serif;
$playfair: 'Playfair Display',
serif;
// Peso de fuentes
$light: 300;
$regular: 400;
$black-italic: 900;
// Tamaño de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;